<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link href="../static/CSShotal.css" rel="stylesheet" />
</head>
<body>

 
<nav>
    <li><a href="HomePage.html">Back to Home Page</a></li>
    <h1 id="headerh1">LOLA HOTEL </h1>
</nav>
       
<div id="sidebar"> 
    <h3>info</h3> 
    <p>Adress : Web Street 103 ,Paris ,  France  </p> 
    <p>Email : lihimao@post.bgu.ac.il</p> 
    <p>Tel :
         +972-08-1000123  </p> 

         <li><a href="HomePage.html">Home Page</a></li>
   
      </div> 


    <h2 id="headerh2">Contact US </h1>




        <form id="details" action="URL">
            <label for="Full Name">Full Name</label><br>
            <input type="text" id="Full Name" name="Full Name" ><br>
           
            <label for="">Email</label> <br>
            <input type="email" id="email" name="email"><br>
            
            <label for="">Phone Number</label> <br>
            <input type="tel" id="tel" name="tel"><br>
           
            <label for="Chek in Date">Chek in Date</label><br>
            <input type="date" id="Chek in Date" name="Chek in Date" ><br>
           
            <label for="Chek Out Date">Chek Out Date</label><br>
            <input type="date" id="Chek Out Date" name="Chek Out Date" ><br>
    

            <input type="checkbox" id="agree" name="agree" >
            <label for="agree"> I agree to get marketing mailing </label><br>

            <input type="submit" id=submit1 name="submit1" value="submit">
            
            <form action=""></form>
        </div>


</body>



</html>